<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="/temp/internal-nlog.log">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <target xsi:type="File" 
                name="allfile" 
                fileName="${currentdir}/logs/${shortdate}.log" 
                layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"  />

        <target xsi:type="ColoredConsole" 
                name="lifetimeConsole" 
                layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}" />
    </targets>

    <rules>
        <logger name="*" writeTo="lifetimeConsole, allfile" />
    </rules>
</nlog>