.flow-container {
    position: relative;
    display: flex;
    height: calc(100vh - 190px);
    min-height: 500px;
    border: 1px solid #dfe3e8;

    .graph-container {
        position: relative;
        flex: 1;
        height: calc(100% - 40px);
        min-height: 300px;
        margin-top: 40px;
    }

    .dnd-box {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 260px;
        height: 100%;
        overflow: hidden;
        border-right: 1px solid #dfe3e8;

        .dnd-header {
            display: flex;
            justify-content: space-evenly;
            height: 40px;
            line-height: 40px;
            background: #fff;
            border-bottom: 1px solid #d9d9d9;
        }

        .dnd-body {
            flex: 1;
            height: 100%;
            padding: 0;
            overflow-x: hidden;
            overflow-y: auto;
            background: #f9f9f9;

            ul {
                margin: 0;
                padding: 0;

                li {
                    margin: 10px 0;
                    cursor: move;

                    div {
                        // width: 100px;
                        height: 36px;
                        // text-align: center;
                        // background: #e6f7ff;
                        // border: 1px solid #91d5ff;
                        // border-radius: 4px;
                        font-size: 14px;
                        line-height: 36px;
                    }
                }
            }
        }

        // .dnd-title {
        //     font-size: 14px;
        //     font-weight: bold;
        //     line-height: 40px;
        //     padding: 0 10px;
        //     border-bottom: 1px solid #dfe3e8;
        // }

        // .dnd-group {

        //     .dnd-group-title {
        //         font-size: 14px;
        //     }
        // }
    }

    .minimap-container {
        position: absolute;
        right: 10px;
        bottom: 10px;
        z-index: 2;
        box-sizing: border-box;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 0 10px 0 #00000026;

        .x6-widget-minimap {
            background: #00000005;
        }

        .x6-graph {
            background: #fff;
        }
    }

    .toolbar-container {
        position: absolute;
        top: 0;
        right: 0;
        left: 260px;
        z-index: 2;
        box-sizing: border-box;
        height: 40px;
        overflow: hidden;
        line-height: 40px;
        background: #fff;
        border-bottom: 1px solid #dfe3e8;
        // box-shadow: 0 0 10px 0 #00000026;
    }

    .x6-toolbar {
        height: 40px;
    }
}

@keyframes running-line {
    to {
        stroke-dashoffset: -1000;
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.x6-node {
    &.x6-node-selected {
        .node {
            border-color: #1890ff;
            border-radius: 2px;
            box-shadow: 0 0 0 4px #d4e8fe;

            &.success {
                border-color: #52c41a;
                border-radius: 2px;
                box-shadow: 0 0 0 4px #ccecc0;
            }

            &.failed {
                border-color: #ff4d4f;
                border-radius: 2px;
                box-shadow: 0 0 0 4px #fedcdc;
            }

            &.inactive {
                border-color: #c2c8d5;
                border-radius: 2px;
                box-shadow: 0 0 0 4px #f1f1f3;
            }
        }
    }
}

.x6-edge {
    &:hover path:nth-child(2) {
        stroke: #1890ff;
        stroke-width: 1px;
    }

    &.x6-edge-selected {
        path:nth-child(2) {
            stroke: #1890ff;
            stroke-width: 1.5px !important;
        }
    }
}

.node {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #c2c8d5;
    border-left: 4px solid #1890ff;
    border-radius: 4px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.06);

    .icon {
        flex-shrink: 0;
        max-width: 20px;
        margin-left: 8px;
        color: #666;
        font-size: 14px;
        line-height: 20px;
        line-height: 20px;
    }

    .label {
        display: inline-block;
        flex-shrink: 0;
        width: 114px;
        margin: 0 8px;
        // line-height: 1.2;
        overflow: hidden;
        color: #666;
        font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-wrap: break-word;
    }

    .status {
        flex-shrink: 0;
    }

    &.success {
        border-color: #52c41a;

        .status {
            color: #52c41a;
        }
    }

    &.failed {
        border-color: #ff4d4f;

        .status {
            color: #ff4d4f;
        }
    }

    &.running {
        //
    }

    &.inactive {
        // border: 1px #c2c8d5 dashed;
        border-color: #c2c8d5;
        opacity: 0.6;

        .status {
            color: #c2c8d5;
        }
    }
}
